.clock {
    height: 100%;
    width: 100%;
    color: white;
}

.clock-time {
    padding: 5px 0 0 0;
    text-align: right;
}

.clock-hour-minutes {
    font-size: 70px;
    font-weight: lighter;
}

.clock-seconds {
    margin-left: 5px;
    font-size: 35px;
}

.clock-date {
    margin: 0;
    font-size: 30px;
    text-align: right;
    font-weight: lighter;
}

/** EVENTS TODAY */

.events-today {
    padding-top: 20px;
}

.events-today table {
    width: 100%;
}

.events-today caption {
    display: block;
    font-size: 22px;
    font-weight: lighter;
    width: 100%;
}

.events-today tr {
    font-weight: lighter;
}

.events-today td {
    padding: 0 20px;
}

.event-header {
    margin-top: 15px;
    font-size: 20px;
}

.event-title {
    float: left;
}

.event-time {
    float: right;
}

.event-location {
    float: clear;
    font-size: 15px;
    margin: 10px 0 0 0;
}

.no-events {
    padding-top: 40px;
    font-size: 20px;
    font-weight: lighter;
    text-align: right;
}

/** CLOCK POP OUT */

.clock-popout {
    border: 2px solid white;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    cursor: move;
}

.calendar-popout__sidebar {
    padding: 0 15px;
    width: 100%;
}


.calendar-popout__sidebar-date {
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-weight: lighter;
}

.calendar-popout__sidebar-event-title {
    margin: 10px 0;
}

.calendar-popout__sidebar-event-time {
    margin: 10px 0;
}

.calendar-popout__sidebar-event-location {
    margin: 10px 0;
}

.calendar-popout__sidebar-event-divider-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
    height: 20px;
}

.calendar-popout__sidebar-event-divider {
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: white;
    height: 1px;
}

.calendar-popout__sidebar-no-events {
    padding-top: 50px;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0.5;
    text-align: center;
}


/** CALENDAR CUSTOMIZATION */

.rbc-calendar {
    height: 100%;
}

.rbc-toolbar-label {
    margin-top: 10px;
    font-weight: lighter;
    font-size: 30px;
}

.rbc-calendar {
    color: white;
}

.rbc-btn-group button[type='button'] {
    display: block;
}

.rbc-day-bg.rbc-today  {
    background: black;
}

.rbc-day-bg.rbc-off-range-bg {
    background-color: black;
}

.rbc-date-cell {
    font-size: 20px;
    font-weight: lighter;
}

.rbc-date-cell.rbc-off-range {
    color: black;
}

.rbc-now span {
    font-weight: bolder;
    background-color: red;
    padding: 5px;
    font-weight: lighter;
    border-radius: 100%
}

.rbc-row-segment .rbc-event-content {    
    white-space: normal !important;
}

.custom-toolbar {
    width: 95%;
    margin: 10px auto;
    display: flex;
}

.custom-toolbar button {
    box-shadow: none;
    background-color: black;
    border: none;
    font-size: 50px;
    line-height: 20px;
    height: 50px;
    width: 50px;

    color: white;
}

.custom-toolbar button:active {
    outline: none;
}

.custom-toolbar button:focus {
    outline: none;
}

.prev-month-button {
    float: left;
}

.date-label {
    text-align: center;
    clear: both;
    font-size: 30px;
    font-weight: lighter;
    margin: 0 auto;
    display: inline-block;
    line-height: 50px;
}

.next-month-button {
    float: right;
}
