.weather {
    background-color: gray;
}

.weather-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.weather-current-temp {
    font-size: 70px;
    margin: 0 0 0 20px;
    font-weight: lighter;
}

.weather-location {
    text-align: left;
    margin: 0;
    font-weight: lighter;
    font-size: 30px;
    padding-bottom: 10px;
}

.forecast-table {
    border-spacing: 10px;
}

.forecast-day {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}

.forecast-icon {
    display: block;
}

.forecast-high {
    font-size: 25px;
    padding-left: 5px;
    font-weight: lighter;
}

.forecast-low {
    font-size: 25px;
    color: gray;
    font-weight: lighter;
}

/** WEATHER POP OUT */

.weather-popout {
    border: 2px solid white;
    background-color: black;
    height: 100%;
    width: 100%;
    cursor: move;
    display: flex;
    flex-direction: column;
}

.weather-popout-header {
    padding-top: 10px;
    height: 50px;
    width: 100%;
    font-weight: lighter;
}

.weather-popout-header p {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.weather-popout-forecast {
    widows: 100%;
    flex: 1;
}

.weather-popout-forecast table {
    height: 100%;
    widows: 100%;
    display: block;
}

.weather-popout-forecast table tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.weather-popout-forecast tr {
    display: flex;
    flex: 1;
    margin-bottom: 1px;
}

.weather-popout-forecast tr td {
    text-align: center;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: lighter;
}

.precip-chance-icon {
    margin-left: 10px;
    font-size: 30px;
}

.popout-forecast-icon {
    font-size: 40px !important;
}

.loading {
    padding-top: 50px;
}

.weather-loading-spinner {
   text-align: center;
   width: 80px;
   padding-bottom: 20px;
   margin: auto;
}

.weather-loading-title {
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    margin: 0;
}