/* Add custom module styles here */
.hackernews-popout {
  border: 1px solid white;
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hackernews-popout-title {
  text-align: center;
  border-bottom: 1px solid white;
  padding: 10px;
  font-size: 20px;
  margin: 0;
}

.hackernews-article {
  flex: 1;
  border: none;
  background-color: white;
}

.hackernews-table {
  border-spacing: 0 10px;
  font-weight: lighter;
  max-width: 400px;
}

.hackernews-table caption {
  font-weight: normal;
}

.hackernews-article-url {
  opacity: 0.5;
}

.hackernews-can-open-icon {
  padding-right: 5px;
}

.line {
  border-top: 1px solid white;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10px;
}